body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#user-select-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#user-select {
  width: 150px;
  height: 30px;
  margin-right: 100px;
}

#bookmark-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  gap: 20px;
}

#bookmark-form-description-textarea {
  width: 100%;
  aspect-ratio: 4/1;
  resize: vertical;
}

#bookmark-form-buttons-container {
  display: flex;
  width: 100%;
  margin: auto;
}

#bookmark-form-submit-button {
  width: 30%;
  margin: auto;
}

#bookmark-form-cancel-button {
  width: 30%;
  margin: auto;
}

#bookmark-elements-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.bookmark-element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

